<table class="table table-bordered table-dark table-hover caption-top">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Coordination</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Company</th>
            <th>Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% users.each do |user|%>
            <tr>
                <th><%= user.id%></th>
                <th><%= link_to user.name, user%></th> <!--first argument is the text, second is the path-->
                <th><%= user.coordination%></th>
                <th><%= user.telephone%></th>
                <th><%=user.email%></th>
                <th><%= user.company%></th>
                <th><%= user.type%></th>
                <th><%= link_to "Destroy", user_path(user),
    data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
    }, class: "btn btn-danger" %> </th>
            </tr>
        <% end %>
    </tbody>
</table>