<br>
<% if current_requester%>
    <%= link_to "Ticket", tickets_path, class:"btn btn-primary"%>
    
    <%=render"users_table", users: @users%> <!--first "users:" is sent to partial. Second"@user" is coming from the controller with the data-->

<%elsif current_admin %>
    <%= link_to "Create a New Admin", new_admin_path, class:"btn btn-primary"%>

    <%= link_to "Create a New Requester", new_requester_path, class:"btn btn-primary"%>

    <%= link_to "Create a New Cooperator", new_cooperator_path, class:"btn btn-primary"%>

    <%= link_to "Ticket", tickets_path, class:"btn btn-primary"%>

    <%=render"users_table", users: @users%> <!--first "users:" is sent to partial. Second"@user" is coming from the controller with the data-->
<%else%>
    <div class="alert alert-danger alert-dismissible fade show " role="alert">
        You don't have permission
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
<%end%>

