<!--using simple form gem to create our form-->
<%= simple_form_for @ticket do |f|%>
    <div class="form-inputs", class="form-group" >
        <%if current_requester%>
        <h4>Requester: <%= current_requester.name%></h4>
        <%= f.hidden_field :requester_id, value: current_requester.id %>
        <%elsif current_user%>
         <h4>Requester: <%= current_user.name%></h4>
         <%= f.hidden_field :requester_id, value: current_user.id %>
         <%end%>

        
        <br>
        <%= f.input :priority %>
        <%= f.input :execution_date %>
        <%= f.input :execution_place %>
        <%= f.input :execution_time %>
        <%if current_admin%>
            <%= f.association :cooperators, as: :check_boxes, wrapper: :vertical_checkboxes%> <!--,  as: :check_boxes remember to call the plural name because the relationship many to many-->
            <%= f.input :registered_by %>
            <%= f.input :ticket_purpose %>
            <%= f.input :service_type %>        
            <%= f.input :observation %>
            <%= f.input :service_progress %>
            <%= f.input :ticket_situation %>
        <%end%>
        <%= f.input :service_evaluation %>
        <%= f.input :suggestions_complaints %>
    </div>
    
    <div class="form-actions"  >
        <%= f.button :submit, class:"btn btn-primary" %>
        <%= link_to "Back", tickets_path, class:"btn btn-secondary"%>
        <br><br><br>
    </div>   
<%end%>
