<div id="collapse1" class="table-responsive overflow-y: hidden">
<table class="table table-bordered table-dark table-hover caption-top">
    <caption>List of Tickets</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>requester_name</th>
            <th>Priority</th>
            <th>execution_date</th>
            <th>execution_place</th>
            <th>execution_time</th>
            <th>register_by</th>
            <th>ticket_purpose</th>
            <th>service_type</th>
            <th>cooperator_name</th>
            <th>observation</th>
            <th>service_progress</th>
            <th>ticket_situation</th>
            <th>service_evaluation</th>
            <th>suggestions_complaints</th>
              <th>Destroy</th>
        </tr>
    </thead>
    <tbody>
        <% tickets.each do |ticket|%>
            <tr>
                <td><%= link_to ticket.id, ticket%></td>
                <td><%= ticket.requester.name%></td> 
                <td><%= ticket.priority%></td>
                <td><%= ticket.execution_date%></td>
                <td><%=ticket.execution_place%></td>
                <td><%= ticket.execution_time%></td>
                <td><%= ticket.registered_by%></td>
                <td><%= ticket.ticket_purpose%></td>
                <td><%= ticket.service_type%></td>
                <td><% ticket.cooperators.each do |cooperator|%> <!-- Another each to get the cooperators into the ticket-->
                    <%= cooperator.name%>
                <%end%></td>
                <td><%= ticket.observation%></td>
                <td><%= ticket.service_progress%></td>
                <td><%= ticket.ticket_situation%></td>
                <td><%= ticket.service_evaluation%></td>
                <td><%= ticket.suggestions_complaints%></td>
                <td><%= link_to "Destroy", ticket_path(ticket),
                    data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                    }, class: "btn btn-danger" %> 
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>