<% if user_signed_in? %>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <%= current_user.name %>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li>
        <%= link_to 'Edit User', edit_user_registration_path, class: "dropdown-item" %>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data:{turbo_method: :delete}, class: "dropdown-item" %>
    </li>
  </ul>
</div>
<%elsif !requester_signed_in?%> <%# just apears if user and requester is not signed in %>
     <h3>User log in:</h3>
    <%= link_to 'Sign in', new_user_session_path, class: "link-secondary"%>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-sm btn-outline-secondary"%>
<%end%>
<br> <br>
<div>

  <% if requester_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <%= current_requester.name %>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
            <%= link_to 'Edit User', edit_requester_registration_path, class: "dropdown-item" %>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <%= link_to 'Sign out', destroy_requester_session_path, method: :delete, data:{turbo_method: :delete}, class: "dropdown-item" %>
        </li>
      </ul>
    </div>
  <%elsif !user_signed_in?%> <%# just apears if user and requester is not signed in %>
      <h3>Requester log in:</h3>
      <%= link_to 'Sign in', new_requester_session_path, class: "link-secondary" %>
      <%= link_to 'Sign up', new_requester_registration_path, class: "btn btn-sm btn-outline-secondary" %>
  <%end%>
</div>


